/* styles.css */
.root {
    -fx-background-color: #f0f8ff; /* AliceBlue background color */
    -fx-padding: 30;
}

.label-title {
    -fx-font-size: 30px; /* Increased font size */
    -fx-font-weight: bold;
    -fx-text-fill: #1e90ff; /* DodgerBlue text color */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0.5, 0, 0); /* Drop shadow effect */
}

.label-subtitle {
    -fx-font-size: 24px; /* Increased font size */
    -fx-font-weight: bold;
    -fx-text-fill: #4682b4; /* SteelBlue text color */
}

.label-text {
    -fx-font-size: 18px; /* Increased font size */
    -fx-text-fill: #696969; /* DimGray text color */
}

.button-easy {
    -fx-font-size: 18px; /* Increased font size */
    -fx-background-color: #32cd32; /* LimeGreen background color */
    -fx-text-fill: #fff;
    -fx-border-color: #228b22; /* ForestGreen border color */
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button-easy:hover {
    -fx-background-color: #228b22; /* Darker green on hover */
    -fx-cursor:hand;
    -fx-scale-x: 1.1; /* Zoom effect */
    -fx-scale-y: 1.1;
}

.button-medium {
    -fx-font-size: 18px; /* Increased font size */
    -fx-background-color: #ffa500; /* Orange background color */
    -fx-text-fill: #fff;
    -fx-border-color: #ff8c00; /* DarkOrange border color */
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button-medium:hover {
    -fx-background-color: #ff8c00; /* Darker orange on hover */
    -fx-cursor:hand;
    -fx-scale-x: 1.1; /* Zoom effect */
    -fx-scale-y: 1.1;
}

.button-hard {
    -fx-font-size: 18px; /* Increased font size */
    -fx-background-color: #ff4500; /* OrangeRed background color */
    -fx-text-fill: #fff;
    -fx-border-color: #b22222; /* FireBrick border color */
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button-hard:hover {
    -fx-background-color: #b22222; /* Darker red on hover */
    -fx-cursor:hand;
    -fx-scale-x: 1.1; /* Zoom effect */
    -fx-scale-y: 1.1;
}

.button-impossible {
    -fx-font-size: 18px; /* Increased font size */
    -fx-background-color: #8a2be2; /* BlueViolet background color */
    -fx-text-fill: #fff;
    -fx-border-color: #4b0082; /* Indigo border color */
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand; /* Pointer cursor */
}

.button-impossible:hover {
    -fx-background-color: #4b0082; /* Darker violet on hover */
    -fx-cursor:hand;
    -fx-scale-x: 1.1; /* Zoom effect */
    -fx-scale-y: 1.1;
}


.button-arrow {
    -fx-font-size: 24px;
    -fx-background-color: #87cefa;
    -fx-text-fill: #fff;
    -fx-border-color: #4682b4;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-padding: 5px;

}

.button-arrow:hover {
    -fx-background-color: #4682b4;
    -fx-border-color: #1e90ff;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-opacity: 1;
}

.button-arrow:pressed {
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
    -fx-opacity: 0.8;
}



.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 505px;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #cccccc;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #666666;
    -fx-background-radius: 5px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #333333;
}